:root {
    --primary-color: #322C59;
    --secondary-color: #048C5A;
    --alternative-color: #78A4B6;
    --bg-color: #E0E1DA;
    --bg-alternative-color: rgba(242, 242, 241, 0.986);
    --bg-scroll-color: 
}