/* @import url(); // font */

* {
    box-sizing: border-box;
    font-family: "Quantico", sans-serif, Barlow, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}


header {
    position: relative;
    max-width: 1800px;
    height: 12rem;
    margin: 0 auto;
    background-color: var(--primary-color);
    text-align: center;
}

.main {
    display: flex;
}

section {
    flex: 80%;
    padding: 2rem;
}